.updateAccount {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1585032083826-2f87ca6a0472?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.user {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1585032083826-2f87ca6a0472?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  /* padding: 3vw; */
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
}
.userImageDiv {
  /* background-image: url("https://images.unsplash.com/photo-1602907017923-5ee9a9ba8592?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80"); */
  background-color: #333;
  height: 15vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5vw;
  /* new below */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 0.5em;
}

@media only screen and (max-width: 600px) {
  .userImage {
    height: 13vh;
    padding: 0em;
    border-radius: 6vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .userImageDiv h3,
  .userImageDiv h4,
  .userImageDiv h5,
  .userImageDiv input {
    padding: 1.5vw;
  }

  .userImageBesideDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    border-radius: 5vw;

    /* background-color: #333; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .userBioDiv {
    /* height: 15vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5vw;
    /* new below */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: flex-start;
    margin: 0.5em;
  }

  .user input {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-style: none;
    border-radius: 10%;
    height: 0.1em;
    background-color: #333;
    /* margin: 0.5em; */
    padding: 1em;
    text-align: center;
    font-size: 5vw;
  }
}
@media only screen and (min-width: 600px) {
  .userImage {
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .user input {
    border-style: none;
    border-radius: 10%;
    height: 1em;
    background-color: #333;
    margin: 0.5em;
    padding: 1em;
  }
}
